.body{
    margin: 0px;
    padding: 0px;
    background-color: #292827;
    height: 500px;
    color: white; 
    text-align: center;
}
.landing{
    background-color: burlywood;
    display: flex;
    justify-content: space-evenly;

}

.home{
    text-align: center;
    background-color: white;
    color: black;
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 5px;

}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #292827;
    height: 500px;
}
#image0{
    height: 50px;
    width: 50px;
   
    background-image: url("leonardo-arantes-h9I2gizYLPs-unsplash-removebg-preview\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
}
#image1{
    height: 50px;
    width: 50px;
    background-image: url("leonardo-arantes-h9I2gizYLPs-unsplash-removebg-preview\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
}
#image2{
    height: 50px;
    width: 50px;
    background-image: url("leonardo-arantes-h9I2gizYLPs-unsplash-removebg-preview\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
}
#column{
    float: left;
    width: 32%;
}
#row{
    display: table;
    clear: both;
}
#bottom{
    text-align: center;
    color: white;
}


